<div class="col-xs-12"><h1>Search</h1></div>
  <form id="search-by-category">
    <input id="search-text" type="text" placeholder="search by category" name="place[category]">
    <button id="search-button">Search</button>
  </form>

{{#each places as |place|}}
<br>
  <div class="panel panel-default" id="see-more-button">
    <div class="panel-heading">
      <h3 class="panel-title" data-id={{place.id}}>{{place.name}}</h3>
    </div>
  </div>
{{/each}}
