{{#each lists as |list|}}
<br>
  <div class="panel panel-default" id="see-more-button">
    <div class="panel-heading">
      <h3 class="panel-title" data-id={{list.id}}>{{list.place_name}}</h3>
    </div>
  </div>
{{/each}}
