<!-- create form -->
<p class="lead">Add your Favorite Place</p>
<form id="create-form">
  <div class="form-group">
    <input type="text" class="form-control" name="list[place_name]" id="create-name" placeholder="Name of the Place" required>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="list[address]" id="create-address" placeholder="Address" required>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="list[description]" id="create-description" placeholder="Description" required>
  </div>
  <!-- <div class="form-group">
    <input type="text" class="form-control" name="list[picture]" id="create-picture" placeholder="picture">
  </div> -->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <p id="create-form-feedback"></p>
    </div>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<!-- end of create form -->
