
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" data-id={{formatted_address.id}}>{{formatted_address}}</h3>
    </div>
    <div class="panel-body">
      <div>
          Address: {{formatted_address}}
      </div>
    </div>
  </div>
