{{#each places as |place|}}
<br>
  <div class="panel panel-default" id="see-more-button">
    <div class="panel-heading ">
      <h3 class="panel-title" data-id={{place.id}}: {{this.place.name}}</h3>
    </div>
  </div>
{{/each}}
