$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
    padding-top: 70px;
}

#left-content {
  padding-top: 50px;
}

.first-page-forms {
  padding-top: 30px;
}

// #map {
//      height: 100%;
//    }
   #map {
  height: 85vh;
  width: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
}
