$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~jquery-toast-plugin/src/jquery.toast.css';

body {
    padding-top: 70px;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  padding-top: 40px;
  font-family: 'Noto Sans', sans-serif;
}

#show-sign-up {
  color: #0df1ff;
  font-size: 15px;
}

#show-sign-in {
  color: #0df1ff;
  font-size: 15px;
}

#content {
  padding-top: 50px;
}

#map {
 height: 60vh;
 width: 100%;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
}

#first-page {
  height: 100%;
  width: 100%;
  background-image: url("https://i.imgur.com/vAg4qMO.jpg")
}

#second-page {
  width: 100%;
  height: 100%;
  overflow: scroll;
  height: 890px;
  background-image: url("https://i.imgur.com/2q0euGQ.jpg")
}

.success-feedback {
  color: green;
}

.failure-feedback {
  color: red;
}

.first-page-forms {
  padding-top: 30px;
}

.text-center {
  padding-bottom: 30px;
}

.instruction {
  height:70px;
  width: 70px;
  background-image: url("https://i.imgur.com/ZdUKNd9.png")
}

.intro {
  padding-bottom: 30px;
  height:10vh;
  text-align: left;
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}

.column-left {
  padding-left: 50px;
}

.left {
  overflow: scroll;
  height: 500px;
  padding-left: 50px;
}

.column-right {
  padding-right: 50px;
  padding-bottom: 50px;
}

.panel-body {
  background-color: white;
  opacity: 0.8;
}

// ************************************************test
#description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map2 #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }
